/**
  *
  * General properties
  *
**/

body{
    background: #f9f9f9;
}

/* No padding when admin menu is enabled */
body.toolbar-drawer{
    padding-top:0 !important;
}

/* Removes weird dots outside clicked links with FF */
a,a:focus,a:hover{
    outline: none;
}

.marginTop{
    margin-top:15px;
}
.noMarginTop{
    margin-top:0;
}

.image{
    max-width:100%;
}

.noPadding{
    padding:0;
}

.noPaddingTop{
    padding-top:0;
}

.well{
    border-radius:0;
}

section{
    padding:0 !important;
}

.headerHeight{
    height:130px;
}

.node-type-opp-photo .row > div{
    padding:0;
}

input[type="file"]{
    box-sizing:initial;
    padding:5px 0;
}

/*
    Installation
*/

#greyBackground {
    background-color: #000;
    height: 100%;
    opacity: 0.7;
    position: fixed;
    width: 100%;
    z-index: 8888;
}

#installAlert {
    left: 38%;
    position: fixed;
    top: 50%;
    width: 520px;
    z-index: 8889;
}

/**
  *
  * Top navbar & menus
  *
**/
#navbar .navbar-collapse{
    position:relative;
}

#textLogo{
    bottom: 3px;
    color: #a0a0a0;
    font-style: italic;
    left: 195px;
    letter-spacing: 3px;
    position: absolute;
}

.navbar-default {
    background: none;
    border: none;
}
.toolbar-menu {
 display: none;
 }

#landscape{
    height:160px;
    background:url('../img/banner.jpg') no-repeat center / cover;
}

.navbar-header{
    position:relative;
}


#mainLogo{
    position:absolute;
    z-index:1;
}

#topMenu ul:first-child {
    left: 165px;
    margin-bottom: 20px;
    margin-top: 35px;
    position: relative;
}

#topMenu section > div.noRadius > ul > li{
    display:inline-block;
}

#topMenu section > div.noRadius > ul > .li > a{
    padding-bottom:5px;
}

#topMenu section > div.noRadius > ul > li > a:not(:first-child){
    margin:0 10px;
}
#topMenu section > div.noRadius > ul > li > a:first-child{
    margin:0 10px 0 0;
}

#topMenu section > div.noRadius > ul > li > a:last-child{
    margin:0 0 0 10px;
}
#topMenu section > div.noRadius > ul > li > a {
    font-family: Arial,sans-serif;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}

#topMenu .secondary{
    display:none;
}

#topMenu section > div > ul > li > a{
    padding:0;
}

#topMenu section > div > ul > li{
    padding:10px 15px;
}
#navbar > .container, .main-container, footer.container > .region, footer.container>.row{
    width:1024px;
}
#navbar .container{
    padding:0;
}
footer.container >.row{
    margin:auto;
}
#topMenu a{
    border-bottom:4px solid transparent;
    color:#000;
}
#topMenu section > div > ul > li.active > a, #topMenu section > div.noRadius > ul > li > a:hover{
    color: #4b4b4b;
    background:none;
    border-bottom:2px solid #00b0d8;
}

#topMenu section > div > ul > li > ul > li > a, #topMenu section > div > ul > li > ul > li > a:focus, #topMenu section > div > ul > li > a.dropdown-toggle:focus{
    border-bottom:2px solid transparent;
}

.dropdown-menu{
    margin-top:0;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, #topMenu .dropdown-menu > .active > a, #topMenu .dropdown-menu > .active > a:hover, #topMenu .dropdown-menu > .active > a:focus {
    background-color:#00b0d8;
    color:#fff;
}

.dropdown-menu li a:hover, #topMenu .dropdown-menu li a:hover{
    background-color:#00b0d8;
    color:#fff;
}

#topMenu .dropdown-menu{
    top:71%;
}
/**
  *
  * Login block
  *
**/

.region-sidebar-second .block h2.block-title{
    background:#333333;
    color: #fff;
    font-size: 17px;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom:0;
}
#block-user-login h2.block-title {
    background-color: #00b0d8;

}

/**
  *
  * Footer
  *
**/

footer .region{
    margin:auto;
}
footer.footer.container{
    background:#666666;
}
footer.footer.container+footer.footer.container{
    background:#333333;
}
footer.footer.container {
    border: 0 none;
    margin: auto;
    padding: 0;
    width: 100%;
}

footer .well{
    background:none;
    border:none;
    color:#fff;
}

.region-footer-top .well{
    margin-bottom:0px;
}

footer img{
    max-width:100%;
}
#block-menu-menu-menu-footer{
    margin-top:37px;
}
#block-menu-menu-menu-footer li{
    display:inline-block;
}

#block-menu-menu-menu-footer li a {
    color: #cfcfcf;
    padding: 10px 12px;
}
#block-menu-menu-menu-footer li a:hover, #block-menu-menu-menu-footer li a:focus{
    background:none;
    color: #a3a3a3;
}
/* In case of not enough logos displayed to fill the top footer, center the ones which are displayed */
footer.first .views-slideshow-cycle-main-frame-row{
    text-align:center;
}
body > footer.first img, .views-field-field-logo-structure-porteuse{
    box-shadow: 3px 3px 3px #2e2e2e;
}

.views-slideshow-cycle-main-frame-row-item{
    display:inline-block;
    margin-right:10px;
}

footer .well {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #fff;
}

.socialLogo {
    height: 40px;
    margin-top: 37px;
    margin-right: 5px;
}

footer .col-xs-3{
    padding-left:60px;

}

#europeFooter{
    color:#cdcdcd;
    text-align:center;
}

#europeFooter img{
    margin-right:10px;
}
/**
  *
  * Partners view
  *
**/

.view-logos-partenaires .view-content{
    text-align:center;
}

#block-views-logos-partenaires-block .views-row img{
    max-width:185px;
    margin-bottom:5px;
}
#block-views-logos-partenaires-block .views-row{
    display:inline-block;
}

/** Photo's details template **/
.node-type-opp-photo .field-name-field-photo img{
    max-width:100%;
}

.highlight {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
    border-top:0;
}

#block-menu-menu-menu-footer{
    font-size:13px;
    text-align:center;
}

.noRadius{
    border-radius:0;
}

.photoTabs{
    margin-bottom:0;
}

.topRight{
    position: absolute;
    right: 30px;
    top: 30px;
    font-size: 30px;
    color:#000;
    text-shadow: 0 0 5px #fff;
}

.relPosition{
    position:relative;
}
.view-id-affichage_s_rie{
    text-align:center;
}
.view-id-affichage_s_rie .views-row{
    display:inline-block;
    margin-right:10px;
}